.Header {
	position: relative;
	background-image: linear-gradient(to right, black, transparent);
	color: white;
	padding: 3em 1.5em;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: url("../images/conference.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center 0;
		z-index: -1;
	}
	&__logo {
		justify-self: end;
		margin: 0.35em 1.5em 0.75em 0;
		max-width: 50px;
	}
	&__register {
		position: absolute;
		top: 0;
		right: 0;
		padding: 1.5em 2em 0 0;
		display: none;
	}

	@media only screen and (min-width: 410px) {
		& {
			display: grid;
			grid-template-columns: minmax(100px, 15vw) 240px;
			grid-template-rows: 10vh 1fr;
		}
		&__logo {
			grid-row: 2 / 3;
		}
		&__register {
			display: block;
		}
	}
}
